body {
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    align-self: center;
}

#day {
    visibility: hidden;
}

#calc-container {
    margin-top: 6rem;
    box-shadow: 10px 10px 18px 3px rgba(0,0,0,0.75);
    display: flex;
    flex-flow: column;
    width: 800px;
    background-image: linear-gradient(
        0deg,
        hsl(240deg 87% 85%) 0%,
        hsl(234deg 79% 85%) 4%,
        hsl(228deg 75% 85%) 12%,
        hsl(221deg 67% 84%) 25%,
        hsl(215deg 63% 84%) 47%,
        hsl(209deg 56% 84%) 72%,
        hsl(203deg 49% 84%) 86%,
        hsl(197deg 43% 84%) 94%,
        hsl(192deg 36% 83%) 98%,
        hsl(185deg 30% 83%) 100%
        );
    border: 1px solid black;
    border-radius: 4px;
    padding: 8px;
    z-index: 220;
}

@media screen and (min-width: 360px) {
    #calc-container {
        width: 300px;
    }
}
@media screen and (min-width: 576px) {
    #calc-container {
        width: 400px;
    }
    #input-container {
        padding-top: 6px;
    }
    #day {
        padding-top: 6px;
    }
    input {
        font-size: medium;
    }
}

@media screen and (min-width: 768px) {
    #calc-container {
        width: 800px;
        font-size: x-large;
    }
    #fields {
        font-size: xx-large;
    }
    #input-container {
        padding-top: 10px;
    }
    #day {
        padding-top: 10px;
    }
    input {
        font-size: xx-large;
    }
}

#fields {
    display: flex;
    flex-flow: column;
    margin-bottom: 10rem;
}

#fields > * {
    display: flex;
    flex-flow: row;
    width: 100%;
    justify-content: space-between;
}

#inflation {
    font-size: 60px;
}

@keyframes crazyAnim1 {
	0% {
		transform: translate(0);
	}

	20% {
		transform: translate(-1px, 3px);
	}

	40% {
		transform: translate(-1px, -1px);
	}

	60% {
		transform: translate(2px, 1px);
	}

	80% {
		transform: translate(1px, -1px);
	}

	100% {
		transform: translate(0);
	}
}

@keyframes crazyAnim2 {
	0% {
		transform: translate(0);
	}

	10% {
		transform: translate(-3px, -2px);
	}

	20% {
		transform: translate(2px, -2px);
	}

	30% {
		transform: translate(-2px, 4px);
	}

	40% {
		transform: translate(2px, 2px);
	}

	50% {
		transform: translate(-2px, -2px);
	}

	60% {
		transform: translate(2px, -2px);
	}

	70% {
		transform: translate(-2px, 3px);
	}

	80% {
		transform: translate(-3px, -2px);
	}

	90% {
		transform: translate(2px, -2px);
	}

	100% {
		transform: translate(0);
	}
}

@keyframes crazyAnim3 {
	0% {
		transform: translate(0);
	}

	10% {
		transform: translate(-25px, -2px);
	}

	20% {
		transform: translate(2px, -25px);
	}

	30% {
		transform: translate(-25px, 2px);
	}

	40% {
		transform: translate(2px, 25px);
	}

	50% {
		transform: translate(-25px, -2px);
	}

	60% {
		transform: translate(2px, -25px);
	}

	70% {
		transform: translate(-60px, 2px);
	}

	80% {
		transform: translate(-2px, -60px);
	}

	90% {
		transform: translate(43px, -2px);
	}

	100% {
		transform: translate(0);
	}
}